{% extends 'base_content.html' %}
{% block title %}
    Profile Page
{% endblock title %}
{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}<strong>Error:</strong>{{ value }}{% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert">
                <span >&times;</span>
            </button>
        </div>
    {% endif %}
    <div class='nav flex-row'>
        <div class="nav flex-column nav-pills" id="tab">
            <a class="nav-link" id="account-tab" href="#">Profile</a>
            <a class="nav-link active" id="account-tab" href="#account">Account details</a>
            <a class="nav-link" id="password-tab" href="{% url 'change_password' %}">Change password</a>
            <a class="nav-link" id="settings-tab" href="#">Settings</a>
        </div>
        <div class="tab-content col-4" id="tabContent">
            <div class="tab-pane fade show active" id="account">
                <form method="post" enctype="multipart/form-data" id="updateProfile">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-4 offset-md-1">
                            <div class="form-group">
                                <label class="small mb-1" id="firstName">First Name</label>
                                {{ form.first_name }}
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 offset-md-1">
                            <div class="form-group">
                                <label class="small mb-1" id="lastName">Last Name</label>
                                {{ form.last_name }}
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 offset-md-1">
                            <div class="form-group">
                                <label class="small mb-1" id="username">Username</label>
                                {{ form.username }}
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 offset-md-1">
                            <div class="form-group">
                                <label class="small mb-1" id="email">Email</label>
                                {{ form.email }}
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 offset-md-1">
                            <div class="form-group">
                                <label class="small mb-1" id="bio">Bio</label>
                                {{ form.bio }}
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class=" offset-md-1">
                            <div class="form-group mt-0 mb-1">
                                <button type="submit" form="updateProfile" class="btn btn-dark">Save Changes</button>
                                <button type="reset" form="updateProfile" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
